{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="page-heading" class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1>Posts list</h1>
                </div>
            </div>
            <a class="brn btn-lg btn-info pull-right"  href="{{ path('post_new') }}">Create a new post</a>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 panel-body">
                <h2 id="post-title">{{ post.title }}</h2>
                <p id="post-description">
                    {{ post.description|striptags|length > 200 ? post.description|striptags|slice(0, 200) ~ '...' : post.description|striptags }}
                </p>
                <a href="{{ path('post_show', { 'id': post.id }) }}">View More >>></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
